/* Styles for DADOK */
body {
    font-family: Arial, sans-serif;
    background-color: #d6bdd6;
    margin: 0;
    padding: 0;
}

.centeredForm {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;  
}

form {
    background-color: #926892;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: #ffffff;
    max-width: 400px;
}

button {
    background-color: #ffffff;
    color: #926892;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #b1b2b5;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

hr.custom-line {
    border: 0;
    height: 4px;
    background: #ddd;
    margin: 40px 0;
}

